<section class=" block container block-domain">
    <header class="block__header">
        <h2></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, porro.</p>
    </header>
    <div class="input-group ">
        <!-- <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href='images/sprite.svg#wordpress'></use>
            </svg>
        </span> -->
        <input type="text" class="input" placeholder="Enter domain here">
        <button class="btn btn--accent"> <svg class="icon icon--white">
                <use xlink:href='images/sprite.svg#search'></use>
            </svg>
            Search
        </button>

</section>
<section>
    <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com </span></li>
        <li>.sg/li>
        <li>.space </li>
        <li>.info </li>
        <li>.net </li>
        <li>.xyz </li>
    </ul>
</section>





<script src="js/main.js"></script>