<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="favechefs.css">
    <title>Document</title>
</head>

<body>
    <div style="display:flex; flex-direction:row;" class="container">
        <form action="">
            <input type="text" class="input" placeholder="Enter the name of your favechef">

        </form>
        <button type="" class="search" style="margin-left:10px;">Search</button>
    </div>
    <h1>Sign up form to Book your chef</h1>
    <form action="">
        <div class="card">
            <input type="text" name="chName" placeholder="Enter your name" class="inputagain">
            <input type="number" name="chName" placeholder="Enter your telephone" class="inputagain">
            <input type="text" name="chName" placeholder="Enter your address" class="inputagain">
            <input type="email" name="chName" placeholder="Enter your email" class="inputagain">
            <input type="submit" class="search" style="margin-top: 10px;">
        </div>
    </form>
</body>

</html>